<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/style.css">
	<head>
		<title>ses-sws</title>
	</head>
	<body>
    <div class="container">
    <div class="header-section">
		<div class="col-sm-2 header-menu-left"><a href="javascript:signUpEsimCompleted('<%= JSON.stringify(errorObj) %>');">Close</a></div>
		<div class="col-sm-8 header-title Regular-text">Activation Unsuccessful</div><div class="col-sm-2 header-menu-right"></div>
</div>
</div>
<div class="container">
<div class="title-section">
<div style="text-align:center; margin: 32px 0"><img src="images/error.png" width="82" alt=""/></div>

<p><div style="text-align:center; padding-bottom:32px; border-bottom: 1px solid #c7c6cb;">
<p>Unable to activate your eSIM service,
    please contact your Mobile Carrier.</p>
</div></p>
</div>
        </div>
    </body>
<script>
  function signUpEsimCompleted(dictionary){
   if (typeof DataActivationController === "object") { 
        DataActivationController.activationFailed(JSON.parse(dictionary));
        DataActivationController.doneSelected();
   }
}
</script>
</html>
