<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/style.css">

<head>
  <title>ses-sws</title>
</head>

<body>
  <div class="container">
    <div class="top-section">
      <div class="col-sm-2 header-menu-left"><a href="javascript:signUpEsimCancel();">Cancel</a></div>
      <div class="col-sm-8 header-title Regular-text">You-Tel Terms &amp; Conditions</div>
      <div class="col-sm-2 header-menu-right"></div>
    </div>
  </div>
  <div class="container">
    <div class="terms-section">
      <%-tc%>
    </div>
  </div>
  <div class="container">
    <div class="action-bottom-section">
      <div class="col-sm-4 action-bottom-left"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 action-bottom-right"><a href="/accept">Agree</a></div>
    </div>
  </div>
</body>

<script>
function signUpEsimCancel(){
    if (typeof DataActivationController === "object") {
        DataActivationController.doneSelected();
    }
}
</script>

</html>
